@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  background-color: #5a5a5a;
  padding: 10px 20px;
}

.title {
  display: inline-block;
}

.link {
  display: inline-block;
  color: aliceblue;
  margin: auto 20px;
}

.container {
  padding: 20px 20px;
  margin: auto;
}

.start{
  align-items: center;
  align-content: center;
  justify-content: center;
  color: rgb(61, 61, 61);
}

.end{
  align-items: center;
  align-content: center;
  justify-content: center;
  color: rgb(61, 61, 61);
}

.weight{
  align-items: center;
  align-content: center;
  justify-content: center;
  color: rgb(61, 61, 61);
}

.row {
  margin: 0;
  display: flex;
  justify-content: center;
}

.node {
  display: inline-flex;
  border: #4bc6ff solid 1px;
  border-collapse: collapse;
  height: 25px;
  width: 25px;
}

@keyframes wall-animation {
  from {border: none; background-color: black; transform: scale(1.2); border-radius: 2px;}
  to {background-color: rgb(61, 61, 61);}
}

.wall {
  animation-name: wall-animation;
  animation-duration: 1s;
  background-color: rgb(61, 61, 61);
  border: rgb(61, 61, 61) solid 1px;
}

.btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  border-radius: 5px;
}

.btn:active {
  transform: scale(0.95);
}

.opt-row {
  margin-top: 20px;
  text-align: center;
}


@keyframes visit-animation {
  from {border: none; background-color: orangered; transform: scale(1.5); border-radius: 100px;}
  to {background-color: yellow;}
}

.node-visited {
  background-color: yellow;
  border:yellow;
  animation-name: visit-animation;
  animation-duration: 1s;
}

@keyframes search-animation {
  from {border: none; background-color: rgb(166, 255, 0); transform: scale(1.5); border-radius: 100px;}
  to {border: none; background-color: rgb(60, 162, 221);}
}

.node-searched {
  background-color: rgb(60, 162, 221);
  animation-name: search-animation;
  animation-duration: 1s;
}

.icon-box {
  display: inline-block;
  margin: auto 10px;
  justify-content: center;
}

.icon {
  display: inline-flex;
  border-collapse: collapse;
  height: 25px;
  width: 25px;
  margin: auto 10px;
}


.icon-desc {
  display: inline-block;
}

.context-menu {
  position: fixed;
  border: #000 solid 1px;
  background-color: white;
  z-index: 100;
}

.context-menu ul {
  list-style-type: none;
}

.context-menu li {
  padding: 5px;
}

.context-menu li:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

.modal {
  padding: 15px;
  position: absolute;
  top: 10%;
  left: 15%;
  width: 70%;
  background-color: white;
  border: 2px solid #4bc6ff;
  border-radius: 5px;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur();
  transform: scale(1);
  opacity: 1;
}

.modal-btn {
  margin-left: 15px;
  padding: 8px;
  border-radius: 5px;
  background-color: royalblue;
  color: #dfdfdf;
  display: inline-block;
}

.modal-content {
  height: 90%;
}

.guide-txt {
  text-align: center;
  color: #5a5a5a;
  margin: 10px 30px;
}

.guide-txt a {
  text-decoration: none;
  color: black;
}

.guide-txt a:hover {
  color: rgb(97, 0, 0);
}

.guide-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  max-height: 300px;
}

.reference{  
  vertical-align: super;  
  font-size: small;  
}

.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  background: rgb(80,80,80);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #888888;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #888888;
  cursor: pointer;
}

.range-val {
  margin-left: 10px;
}